@model University.Models.PasswordRecoveryViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="wrapper">
        <div class="site-title">Система контроля университета</div>

        <div id="clear"></div>

        <div id="content">
            <p style="font-size: 35px; text-align: center; margin:5px;">Восстановление пароля</p>
            @using (@Html.BeginForm("ForgotPassword", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <table align="center" border="0">
                    <tr>
                        <td>@Html.LabelFor(x => x.Email, "E-mail: ")</td>
                        <td>@Html.TextBoxFor(x => x.Email)</td>
                        <td>@Html.ValidationMessageFor(x => x.Email)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><center><input type="submit" value="Отправить пароль" /></center><br /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><center>@Html.ActionLink("Вход", "Login", "Home")</center></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><center>@Html.ActionLink("Стартовая страница", "Index", "Home")</center></td>
                        <td></td>
                    </tr>
                </table>
            }
        </div>

        <div id="clear"></div>

        <div id="footer">
            <center>Зелинский Григорий ©<br />2015 год</center>
        </div>
    </div>
</body>
</html>

